h1.title {
  text-align: center;
}

body {
  padding-bottom: 80px;
}

.topic-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2em;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color:  inherit;
}

strong, b, h3, h4, h5 {
  color:  rgb(0, 0, 100);
}

#mobile-footer {
  display: none;
  background-color: rgb(0,0,100);
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#mobile-footer div {
  text-align: left;
}

#mobile-footer a:hover{
  text-decoration: underline;
}

#mobile-footer a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  #mobile-footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
  }
}